<!doctype html>
{% extends 'myapp/base.html' %}

{% block body_block %}
   <div class="jumbotron">
        <div class="page-header">
            <h1>welcome to customers <small>for banking</small></h1>
        </div>
       <h2>bank rules:</h2>
       <ul>
           <li>term-1 :should login  one time per week</li>
           <li>term2: shoud login one time per month</li>
       </ul>
       <h3><span class="label label-default"><a href="/" style="color:white">back to home</a></span></h3>
   </div>
{% endblock %}